.idea/
.ipynb_checkpoints/
AUSLAN_Numbersvideos/
AUSLAN_Wordsvideos/
Num3_2_10_100weights.hdf5
Words16_3_16_100weights.hdf5
Words16_7_16_100weights.hdf5
Words3_1_16_100weights.hdf5
Words3_2_16_100weights.hdf5
Words3_3_16_100weights.hdf5
backup/
capturedframes/
data/
data_points_Numbers/
data_points_Words/
data_points_Wordscopy/
doc.docx
ignore/
my_h5_model.h5
nums_vids/
test/
utils/.ipynb_checkpoints/
venv/
modelweigths/
